.header{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.input{
    width: 80%;
    padding-left: 5%;
}

.input input{
    background-color: #f1f2f6;
    border: none;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
}

.input input:focus{
    outline: none;
    color: black;
}

.user{
    width: 20%;
    display: flex;
    align-items: center;
}

.user img{
    width: 20%;
}