.header{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.input{
    width: 80%;
    padding-left: 5%;
}

.input input{
    background-color: #f1f2f6;
    border: none;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
}

.input input:focus{
    outline: none;
    color: black;
}

.user{
    width: 20%;
    display: flex;
    align-items: center;
}

.user img{
    width: 20%;
    border-radius: 100%;
}

.notAvatar{
    width: 20%;
    border-radius: 100%;
    background-color: #6674d7;
}

.signButton{
    background-color: #6674d7;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
}

.signButton:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}

