.container{
    display: flex;
    justify-content: space-between;
}

.title{
    font-weight: bold;
}

.exchangeBlock{
    width: 60%;
}

.gridBlock{
    background-color: white;
    padding: 1%;
    margin-top: 10px;
    border-radius: 15px;
    width: 100%;
}

.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.country{
    display: flex;
    align-items: center;
}


.block img{
    width: 7%;
    border: 1px solid black;
    margin-right: 10px;
}

.currencyBlock{
    width: 35%;
}

.currencyNews{
    background-color: white;
    padding: 5%;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 16px;
}